.flushToMenu {
	padding-top: 50px;
}

#topNav {
	background: #b3d236;
}

.micro {
	height: 20px;
	padding: 0;
	margin: 0;
}

.userIcon {
	padding-top: 9px;
}

.hidden {
	display: none;
}

input#team {
  width: 4em;
  border: 1px solid #edd;
  padding: .35em;
  margin: 1px;
  border-radius: 4px;
}