.flushToMenu {
	padding-top: 50px;
}

#topNav {
	background: #b3d236;
}

.micro {
	height: 20px;
	padding: 0;
	margin: 0;
}

.userIcon {
	padding-top: 9px;
}

.hidden {
	display: none;
}

label {
    display: inline-flex;
    border: solid 2px grey;
    padding: 2px;
}

input[type="radio"] {
    display:none;   
}
input[type="radio"]:checked + label {
    border: solid 2px green;
}